body {color: rgba(41, 7, 73, 0.938);
font-size: xxx-large;
font-style: italic-bold;
margin-top: 0;
}
img {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border-radius: 130px;
}
h1,h2 {
    color:rgb(10, 7, 51) ;
    font: italic;
    font-size: larger;
    text-align: center;
}
p1,p2 {
    color: black;
    font-size: medium;
    font-style: bold;
    text-align: center;
}
ol {
    color: black;
    font-size: medium;
    font-style: bold;
    text-align: center;
    vertical-align: middle;
}
html {
    align-content: center;
}
h3 {
    text-align: center;
    font-size: xxxx-large;
    font-style: oblique;
}
html {
    background-color: lightpink;
}
p4 {
    font-size: medium;
}